<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="features.css">
    <title>Daily Expense</title>
</head>
<body class="min-vh-100 overflow-auto">
    <nav class="navbar navbar-expand-lg  navbar-dark ">
        <div class="container">
            <a class="navbar-brand fs-4">
                <!-- SVG logo -->
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-calculator-fill" viewBox="0 0 16 16">
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm2 .5v2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0-.5.5m0 4v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M4.5 9a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M4 12.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M7.5 6a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM7 9.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m.5 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM10 6.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m.5 2.5a.5.5 0 0 0-.5.5v4a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 0-.5-.5z"/>
                </svg>
                Expense Tracker
            </a>
            <button class="navbar-toggler shadow-none border-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header text-white border-bottom">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                    <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
                    <ul class="navbar-nav justify-content-center align-item-center fs-5 flex-grow-1 pe-3">
                        <li class="nav-item mx-2">
                            <a class="nav-link active" aria-current="page" href="#">DAILY</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#">MONTHLY</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#">YEARLY</a>
                        </li>
                       

                    </ul>
                    <div class="d-flex flex-column justify-content-center align-item-center ">
                      <a href="#" class="text-white" id="rzp-button1">GO PREMIUM</a>
                      <a href="./login.html" class="text-white">LOGOUT</a>
                      <!--a href="leaderboard.html" class=" visually-hidden text-white" id="leaderBoardTag">LEADERBOARD</a-->
                        
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class = 'visually-hidden justify-content-start  col-2'id="PremiumTag"> 
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        premium features
      </button>
      <ul class="dropdown-menu" id="premiumD">
        <li><button class="btn" id="leaderboardbtn">SEE LEADERBOARD</button></li>
        <li> <button class="btn" id="downloadBtn1">DOWNLOAD REPORT</button></li>
        <li> <button class="btn" id="downloadBtnShow">SEE PREVIOUS DOWNLOADS</button></li>
        
      </ul>
    </div>
    <div class="container-fluid" id="form">
        <form action="post" class="col" id="expForm">
            <div class="row col-12" id="formFields">
              <div class="col-sm">
                <input type="date" name="date" id="date">              
              </div>
              <div class="col-sm">
                <input type="text" class="form-control" placeholder="Description" name="description" id="desTag">
              </div>
              <div class="col-sm">
                <input type="number" class="form-control" placeholder="Amount" name="amount" id="amountTag" >
              </div>
              <div class="col-sm">
                <label class="visually-hidden" for="autoSizingSelect">Preference</label>
                <select class="form-select" id="autoSizingSelect" name='categories'>
                  <option selected>Categories...</option>
                  <option value="1">Food</option>
                  <option value="2">Education</option>
                  <option value="3">Medical</option>
                  <option value="4">Recreational Activities</option>
                  <option value="5">Rent</option>
                  <option value="6">EMIs</option>
                  <option value="7">Miscellaneous</option>
                </select>
              </div>
              <div class="col-sm">
                <button type="submit" class="btn btn-dark opacity=5 me--1.5rem">Add</button>
              </div>
            </div>
          </div>
        </form>
        
        
        <ul class="list-group col-6 " id="expenseList">
          <!--li class="list-group-item">A second item - 400 - food</li>
          <li class="list-group-item">A third item</li-->
        </ul> 
    </div>
   
    <!-- <nav aria-label="Page navigation example" id="paginationTab">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item" id="prev"><a class="page-link" href="#">1</a></li>
        <li class="page-item" id="curr"><a class="page-link" href="#">2</a></li>
        <li class="page-item" id="next"><button class="btn btn-dark col-2">3</button></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav> -->
    <nav id="paginationTab" class="mt-3">
      <ul class="pagination justify-content-center">
          <li class="page-item" id="prevPage">
              <a class="page-link" href="#">Previous</a>
          </li>
          <li class="page-item" id="nextPage">
              <a class="page-link" href="#">Next</a>
          </li>
      </ul>
    </nav>
    <div class="row col-5" id="noOfExpR">
      <div class="col-3">
          <label id="textEntries" class="form-label">Show entries:</label>
          <select class="form-select" id="entriesSelect">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
          </select>
      </div>
    </div>
    <!--div class="list-group col-6">
      <ul class="list-group col-6" id ="leaderboardTable"> 

      </ul>
    </div-->
    <div class="container-fluid col-6">
      <button type="button" class="btn-close float-end" aria-label="Close" id="closeLeaderboardBtn"></button>
      <table class="visually-hidden table table-dark table-striped col-3" id="leaderboardTable">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Total Expense</th>
            </tr>
        </thead>
        <tbody>
            <!-- Leaderboard rows will be inserted here dynamically -->
        </tbody>
    </table>
    </div>

    <div class=" container-fluid col-6">
      <button type="button" class="btn-close float-end" aria-label="Close" id="closeLinkboardBtn"></button>
      <table class="visually-hidden table table-dark table-striped col-3" id="linkboardTable">
        <thead>
            <tr>
                <th scope="col">Link</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            <!-- Leaderboard rows will be inserted here dynamically -->
        </tbody>
    </table>
    </div>
    <script src="daily.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
</body>
</html>
    
