.navbar{
    background-color: rgb(150, 148, 148);
    
   
}
#h1{
    vertical-align: text-top;
}
.offcanvas-body{
    font-size: large;
    font-weight: bold;
    color: white;
}

#headingContainer{
    margin-top: 5rem;
}
#formContainer{
    margin-top: 4rem;
}