
svg.bi {
  color: rgb(255, 254, 254); /* Change color to red */
}
body{
  background: url('./p4.avif') #282727aa ;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width:991px){
  .sidebar{
    background-color: rgb(225, 225,225,0.15);
    backdrop-filter: blur(10px);
  }
}
#form{
  margin-top: 5rem; 
  justify-content: center;
  align-items: center;
  margin-left: 7rem;
}
#form input[type="date"] {
  margin-left: 5rem; /* Adjust as needed */
  height: 2rem;
}

.btn{
  margin-right: 20rem;
  font-size: large;
  font-weight: bold;
}
.list-group{
  margin-top: 5rem;
  margin-left: 22rem;
  gap: 1rem;
  
  
}
.list-group-item{
 
  background-color: rgba(125, 125, 125, 0.286);
  backdrop-filter: blur(20px);
  opacity: 0.5;
  color: azure;
  border: none;
  height: 60px; /* Adjust height as needed */ 
  padding-top: 1rem;
  font-size: larger;
}
#PremiumTag {
  color: aliceblue;
}
.offcanvas-body a {
  margin-right: 10px; /* Adjust as needed */
}
#downloadBtn1{
  margin-top: 5rem;
  margin-left: 25rem;
}
#downloadedFilesList{
  color: aliceblue;
}
#showDownloadedLinksBtn{
  margin-top: 2rem;
  margin-left: 25rem;

}